@charset "utf-8";
/* CSS Document */

/* background control */

body {
	background-color:rgba(203,203,203,0.1);
      }

/*navigation control*/

ul#Navigation
      {
	border-style: none;
	height: auto;
	z-index: 2;
	text-align: center;
		  
	  }
ul#Navigation li
       {
		  list-style-type:none;
		  font-size:1.2em;
		  text-align:center;
		  border-style:none;
		  font-weight:bold;
		  display:inline;
		  font-family:Arial;
		  padding:10px;
		  border-radius:10px;
			 
		  }


		  
#index_logo{
	           position:absolute;  
               top:22%;
			   left:1%;
			   width:90px;
			   height:90px;
			  
}
.background{
	z-index:0;
	 width:100%;
	   height:50%; 
	   max-height:400px;
		 }

ul#Navigation li{
	-webkit-transition:background-color 500ms linear;
	-moz-transition:background-color 500ms linear;
	-o-transition:background-color 500ms linear;
	transition:background-color 500ms linear;
}
ul#Navigation li:hover{
	background-color:rgba(134,19,21,0.8);}
	
	#Navigation a{ 
	color:#353434;
	-webkit-transition:color 500ms linear;
	-moz-transition:color 500ms linear;
	-o-transition:color 500ms linear;
	transition:color 500ms linear;
	}
#Navigation a:hover{
	color:white;}
	

h1{
	font-family:fantasy;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	width:60%;
	margin-left:20%;
	color:#353434;
	padding:0;
}

indexhead.h2 {
	position: absolute;
	top: 234px;
	text-shadow: #000000 10px 10px 10px;
	font-family: cursive;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}


.outlink a{
	color:blue;
	-webkit-transition:color 200ms linear;
	-moz-transition:color 200ms linear;
	transition:color 200ms linear;
}
.outlink a:hover{color:rgba(134,19,21,0.8);}


.abstract{width:80%; margin-left:10%;}

.abstract h2
{
	font-family: cursive;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color:rgba(134,19,21,1.00);

}

.abstract p
{
	font-family:Times;	
	font-size:1.2em;
	font-style:normal;
	text-indent:2em;
	font-weight:normal;
	white-space:normal;
	word-break:break-all;
	padding-bottom:25px;
	
	
	
}
p.start:first-letter{font-size:36px;}

.abstract img{
	margin-left:13%;
}
.abstract iframe{ width:800px; height:450px; margin-left:13%;}

