@charset "utf-8";
/* CSS Document */

/* main title */


div#page-navigation
      {
	border-style: none;
	margin-top: 0px;
	width: 80%;
	margin-left:10%;
	margin-top:-15px;
	height: 20%;
	z-index: 2;
	text-align: center;
	background-color:#ecebeb;
		  
	  }
#page-navigation li
       {
		  list-style-type:none;
		  font-size:24px;
		  text-align:center;
		  border-style:none;
		  font-weight:bold;
		  display:inline;
		  font-family:Arial;
		  padding:17px;
		  margin-top:20%;
			 
		  }
#page-navigation a{ color:#353434;}
a{ text-decoration:none;}

#page-navigation li{
	-webkit-transition:background-color 500ms linear;
	-moz-transition:background-color 500ms linear;
	-o-transition:background-color 500ms linear;
	transition:background-color 500ms linear;
}
#page-navigation li:hover{
	background-color:rgba(134,19,21,0.8) ;}
	
	#page-navigation a{ 
	color:#353434;
	-webkit-transition:color 500ms linear;
	-moz-transition:color 500ms linear;
	-o-transition:color 500ms linear;
	transition:color 500ms linear;
	}
#page-navigation a:hover{
	color:white;}

div#main_title img{
	
	width:80%;
	height:70% !important;
	margin-left:10%;
	margin-right:10%;
}

div.slable1 {
	z-index:3;
	width:20%;
	height:40px;
	-webkit-background-color:rgba(62,39,40,0.7);
	direction:rtl;
	margin-top:-150px;
	margin-left:70%;
}
div.slable2 {
	z-index:3;
	width:30%;
	height:40px;
	-webkit-background-color:rgba(62,39,40,0.7);
	direction:rtl;
	margin-top:-20px;
	margin-left:60%;
	margin-bottom:130px;
}

.slable1 p,.slable2 p{
	padding:10px;color:white;
	font-family:arial;
	font-size:1.4em;
	}

/*div#main_title h1{ 
     font-family:cursive;
	 font-size:72px;
	 z-index:4;
	 font-weight:bold;
	 color:orange;
	 text-align:center;
	 text-shadow:orange 5px 5px 10px;
	 margin-top:15%;
	 margin-left:25%;
}*/



/************footer********************/

#footer
{
	background-color:#675C47 !important;
	width:80%;
	margin-left:10%;
	height:100px;
	clear:both;
	margin-top:100px;
}

.foot_pic
{
		padding-left:40%;
		margin-top:100px !important;
		vertical-align:middle;
}

.foot
{

	color: #EFE5D0;
	text-align:center;
	font-size:0.8em;
	font-family:serif;
	white-space:pre;
	padding:5px;
	margin-top:-1%;
}

.footer_picture
{
	width:50px;
	height:50px;
	margin:10px;
}



/*-----------navigation icon---------------*/

/*.top
{
	position:fixed;
	top:156px;
	left:94%;
	padding-right:10px;
}
*/
.bottom
{
	position:fixed;
	top:92%;
	right:10%;
	padding-right:10px;
}

/*----effect-----------------------------*/
div#top1  img,div#bottom1 img 
{
	width:40px;
	height:40px;
    -webkit-transition: width 100ms linear,height 100ms  linear;
	-moz-transition: width 100ms linear,height 100ms  linear;
	-o-transition:width 100ms linear,height 100ms  linear;
}
div#top1:hover img,div#bottom1:hover img
{
width:35px;
height:35px;

}	

/*-------fade-in effect of pages--------*/

@-webkit-keyframes fadein{
	0%{opacity:0;
	background-color:white;
	}
	100%{opacity:1;
	background-color:white;
	}
}
body
{
	-webkit-animation-name:fadein;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:1;
}



