@charset "utf-8";
/* CSS Document */

body {
	background-color:rgba(203,203,203,0.5);
      }


#main{ width:850px;
       margin-left:18%;
	  
}

.members{	/*  -moz-box-shadow:0px 1px 10px grey;
	   -webkit-box-shadow:0 1px 10px grey;*/
	   }
.big-pic{ background-color:#fefadb;}
.pic_1{ background-color:#fefadb;}

.members h1
{
	background-color:#fefadb;
	text-align:center;
	font-size:2em;
	margin-bottom:4px;
	border-bottom:thin;
	border-bottom-style:dashed;
	border-bottom-color:orange; 
    text-shadow:5px 5px 10px grey;
	margin-bottom:0px;
}

.big-pic img
{
	width:842px;
	height:300px;
	border-style:solid;
	border-width:4px;
	border-color:white;
	border-bottom:none;
}

.big-pic p
{
	text-align:center;
	font-size:1em;
	font-weight:normal;
	padding-bottom:15px;
}
.slogan{font-weight:bolder !important;}

.pic_1{
	width:850px;
	 height:351px;
	  margin-bottom:10px; 
	  /*-moz-box-shadow:0px 1px 10px grey;
	   -webkit-box-shadow:0 1px 10px grey;*/
	   }

.pic_1_1 img{
	border-style:solid;
	border-width:4px;
	border-color:white;
	border-right:none;
	}
	
.text1{
	float:right;
	margin-right:5px; 
	width:226px; 
	height:351px;
	}

.text1  h2
{
	font-size:1.5em;
	text-align:center;
	margin-top:15px;
}

.text1 p
{
	text-align:center;
}



.all{margin-top:20px;}


.mentor
{
	background-color:#fefadb;
	 -moz-box-shadow:0px 1px 10px grey;
	   -webkit-box-shadow:0 1px 10px grey;
}



.prof{ height:500px;}

#prof1,#prof2,#prof3
{
	width:250px;
	display:inline-table;
	margin-top:20px;
	margin-right:10px;
	
}

.white{background-color:white; width:220px; height:240px;}

#prof1
{margin-left:40px;}

#prof1 img,#prof2 img,#prof3 img
{
	width:200px;
	height:auto;
	border-color:white;
	border-style:solid;
	border-width:10px;
	margin-bottom:10px;
}
#prof1 h2,#prof2 h2,#prof3 h2
{
	padding-top:10px;
	border-top:rgba(4,249,10,0.5);
	border-top-width:3px;
	border-top-style:solid;
	width:220px;
	height:40px;
	text-align:center;
	font-size:1.5em;

}
#prof1 p,#prof2 p,#prof3 p
{
	text-indent:1em;
	width:190px;
	text-align:center;
	word-break:break-all;
	padding-left:10px;
	padding-right:15px;
}

.DR
{

	width:850px;
	height:174px;
	margin-bottom:10px;
	background-color:white;
}
.DR img
{
	margin:5px;
	border-color:white;
	border-style:solid;
	border-width:5px;
}
.dr
{
	width:500px;
	position:relative;
	left:300px;
	top:-164px;
}
.dr h2{text-align:right;}
.dr p{text-align:center; word-break:break-all;}



.outlink{
	text-decoration:underline;
	color:blue;
	-webkit-transition:color 200ms linear;
	-moz-transition:color 200ms linear;
	transition:color 200ms linear;
}
.outlink:hover{color:rgba(134,19,21,0.8);}

.school-pic h1{
	text-align:center;
	font-size:2em;
	margin-bottom:4px;
	border-bottom:thin;
	border-bottom-style:dashed;
	border-bottom-color:orange; 
    text-shadow:5px 5px 10px grey;
}

.school-pic img{
	width:842px;
	height:300px;
	border-style:solid;
	border-width:4px;
	border-color:white;
	border-bottom:none;}

.school-pic{
	background-color:white;
/*-moz-box-shadow:0px 1px 10px grey;
	   -webkit-box-shadow:0 1px 10px grey;*/}


