@charset "utf-8";
/* CSS Document */

/*    body   include text */
#body
{
	float:left;
	margin-left:10%;
	margin-right:10%;
	width: 80%;
	margin-top:0;
	margin-bottom:10%;
	word-break:break-all;
	padding:10px;
	
}

.body_text h2
{
	font-family:cursive;
	font-size:2em;
	font-weight:bolder;
	font-style:italic;
	color:#000000;
	text-align:left;
	padding-left:5px;
	text-transform:capitalize;
	text-shadow:#000000 5px 5px 10px;

}

.body_text h3
{
	font-family:Arial;
	font-size:1.1em;
	font-weight:bold;
	font-style:normal;
	margin-bottom:-15px;
	color:#000000;
	text-align:left;
	padding-left:5px;
	text-transform:capitalize;

}

.body_text p
{
	font-family:Arial;	
	font-size:1em;
	line-height:1.5em;
	font-style:normal;
	text-indent:1.5em;
	font-weight:normal;
	white-space:normal;
	
}


.agent{font-size:1.2em; font-weight:bold;}


.reference_text p{ font-family:Times New Roman; font-style:italic;}
.reference_text h1{border-bottom:dotted; border-bottom-color:black; padding-bottom:5px;}